<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
<title>Парсер решений судов</title>
</head>
<body>
<h2>О проекте "Парсер судебных решений"</h2> 
<p> 
На этом сайте собраны приговоры по уголовным делам за 2018-2019 гг.  
Вы можете воспользоваться  фильтрами для поиска дел по определенной статье, суду, судье, региону и дате. 
Наши алгоритмы поделят нужные вам приговоры на смысловые части: 
</p>
<ul>
  <li>фабула</li>
  <li>показания свидетелей</li>
  <li>описание доказательств</li>
  <li>размышления судьи</li>
</ul>
<p>
А также извлекут полезную информацию: например, номер статьи, по которой проходит это дело. Результат обработки приговора (или нескольких приговоров) можно скачать в формате excel.
<form action="/search" style="padding: 0px">
    <button type="submit">Страница поиска документов </button>
</form> 
</p> 
<p style="white-space: pre">
Чтобы обработать свой документ в формате html, воспользуйтесь кодом и инструкцией по <a href="https://github.com/HSEJUDGMENT/judgement">ссылке</a>.
Данные были взяты из базы <a href="https://sudact.ru/">судебных и нормативных актов РФ</a>. 


Проект разработан студентами магистратуры ВШЭ “Компьютерная лингвистика” в 2019-2020 гг. 
Исходный код доступен по <a href="https://github.com/HSEJUDGMENT/judgement">ссылке</a>. 
Подробнее об алгоритме можно прочитать в статье (добавить ссылку!). 
Исследование было представлено на постерной сессии конференции <a href="https://ainlconf.ru/2019/program">AINL 2019</a>.</br> 
</p>
</body>
</html>
